*{
    box-sizing: border-box;
    
}

body {
    background-color: #29c7fe;
}
/* //Which div are you trying to apply the style to */

/*row-1 div*/

nav ul li {
    text-decoration: none;
    list-style: none;
}

.row-1 {
    /* display: flex;
    flex-direction: row;
     width: 90%; 
    position: absolute;
    align-items: stretch;
    justify-content: left;
    object-fit: contain; */
    /* border: 2px solid blueviolet;    */
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    z-index:1000;
    backround-color:black;
}
/* OPen it in the browser */
.btn {
    color: aliceblue;
    background-color: darkblue;
    border-radius: 100px;
}

.mission-statement {
    font-family: Roboto, 'Segoe UI', Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 72px;
    color: white;
    margin-left: 10px;
}


.col-1{
    flex: 1;
    display: inline-block;
    position: relative;
  
}

.col-2{
    flex: 1;
    display: inline-block;
    max-width: 30vw;
    /* position: relative; */
}

.img-one{
    /* position: relative; */
    width: 700px;
    height: 500px;
    float: right;
}

.logo-wrapper p {
    color: white;
    position: inherit;
    font-weight: bold;
    float: right;
    font-size: x-large;


}

.logo-wrapper {
    width: 50%;
    /* border: 2px solid red; */
}
