* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #29c7fe;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem;
}
nav ul li {
  text-decoration: none;
  list-style: none;
}
.btn {
  color: #fff;
  border: none;
  background-color: #00000045;
  border-radius: 100px;
  padding: 0.7rem 4rem;
  font-size: 1.1rem;
}
.row-1 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border: 1px solid red;
  padding: 1rem;
}
.col-1 {
  z-index: 1000;
}

.logo-extend {
  text-align: right;
  padding-right: 3rem;
  font-size: 2rem;
  color: #fff;
}
.col-1 h1 {
  /* background: #000; */
  max-width: 795px;
  font-size: 4rem;
  z-index: 1000;
  margin-right: -15rem;
  color: #fff;
}
.col-2 {
}
.col-2 img {
  max-width: 800px;
}
